/*Tamanho padrão para tablets
No comando abaixo vamos verificar se a mídia que faz a requisição é uma tela e se o tamanho máximo dela é de 768px. Se for, vamos aplicar as configurações que estão dentro das chaves.
*/
@media only screen and (max-width: 768px) {
	.header-black ul{
		display: none;
	}
}

/*Tamanho padrão para celulares*/
@media only screen and (max-width: 480px) {
	header .header-black{
		position: fixed;/*Com este comando dizemos que queremos que essa estrutura seja fixa na posição que está. Mas perdemos o tamanho da largura, então temos que dizer de novo o seu tamanho.*/
		top: 0;
		width: 100%;
	}

	.header-black ul, #menu{
		display: none;
	}

	header #logotipo{
		left: 32%;
		position: absolute;
		top: 1px;
	}

	#btn-bars, #btn-search{
		display: block; /*Precisamos colocar esse display para que os botões apareçam*/
		color: #fff;
		font-size: 22px;
		position: absolute;
		top: 5px;
		background: none;
		border: none;
	}

	#btn-bars{
		left: 5px;
	}

	#btn-search{
		right: 5px;
	}

	#banner{
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}

	#banner h1{
		padding-top: 142px;
		font-size: 48px;
	}

	#banner h1 small{
		font-size: 22px;
	}

	#news h2{
		font-size: 32px;
	}

	#news hr{
		border-width: 4px;
	}

	.owl-carousel .owl-wrapper-outer{
		margin-left: 15px;
	}

	.thumbnails{
		text-align: center;
	}

	#news .thumbnails .item-inner img {
		width: 80%;
		margin: 0 auto;
	}

	#btn-news-prev, #btn-news-next{
		border: none;
		background: none;
		color: #5E2699;
		font-size: 48px;
		display: block;
		position: absolute;
		z-index: 4;
	}

	#btn-news-prev{
	    top: 125px;
    	left: 5px;
	}

	#btn-news-next{
		bottom: 183px;
		right: 4px;
	}

	#estatistica{
		height: inherit;
	}

	#estatistica p{
		margin-bottom: 40px;
		margin-top: 40px;
	}

	#call-to-action{
		margin-top: 69px;
	}

	#call-to-action hr{
		border-width: 4px;
	}

	#call-to-action p{
		margin: 40px 6px;
	}

	#call-to-action h2{
		margin-left: 10px;
		margin-right: 15px;
	}

	#call-to-action .col-md-6{
	    width: 50%;
    	margin: 0;
    	padding: 0;
	}

	#call-to-action .btn-roxo{
		float: left;
	}

	#call-to-action .btn-amarelo{
		float: right;
	}

	footer{
		margin-top: 60px;
		position: relative;
	}

	.row{
		margin: 0;
	}

	footer .copyright-mobile p{
		font-size: 11px;
		line-height: 0;
		text-align: center;
		top: 8px;
	}

	footer .texto-roxo{
		margin-top: 8px;
	}

	footer .row-cinza-claro{
		height: 157px;
	}

	footer ul{
		position: absolute;
		top: 89px;
	}

	footer .list-sociais{
		top: 75px;
	}

	footer .col-md-10{
		padding: 0;
	}

	footer .list-sociais li{
		margin: 4px;
	}

	footer .list-sociais a{
		height: 52px;
		width: 52px;
		border-radius: 50%;
	}

	footer .list-sociais i{
		font-size: 33px;
		margin-top: 8px;
	}

	footer .row-fluid{
		display: flex;
	}

	footer .btn-footer{
		width: 100%;
		background-color: #11171D;
	}

	footer .col-xs-6{
		margin: -12px 31px;
	}

	footer .col-xs-6 a{
		display: flex;
		font-size: 18px;
	}

	header.open-menu{
		
	}
}